[submodule "onlinegid-api"]
	path = onlinegid-api
	url = git@github.com:SerhiiTsybulskyi/onlinegid-api.git
[submodule "onlinegid-ui"]
	path = onlinegid-ui
	url = git@github.com:SerhiiTsybulskyi/onlinegid-ui.git
[submodule "video-parser"]
	path = video-parser
	url = git@bitbucket.org:ZhezherP/video-parser.git
[submodule "onlinegid-sdk"]
	path = onlinegid-sdk
	url = git@github.com:SerhiiTsybulskyi/onlinegid-sdk.git
